
## <summary>policy for BITCOINADULT</summary>


########################################
## <summary>
##	Transition to BITCOINADULT.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`BITCOINADULT_domtrans',`
	gen_require(`
		type BITCOINADULT_t, BITCOINADULT_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, BITCOINADULT_exec_t, BITCOINADULT_t)
')


########################################
## <summary>
##	Execute BITCOINADULT server in the BITCOINADULT domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BITCOINADULT_initrc_domtrans',`
	gen_require(`
		type BITCOINADULT_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, BITCOINADULT_initrc_exec_t)
')


########################################
## <summary>
##	Search BITCOINADULT lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BITCOINADULT_search_lib',`
	gen_require(`
		type BITCOINADULT_var_lib_t;
	')

	allow $1 BITCOINADULT_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read BITCOINADULT lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BITCOINADULT_read_lib_files',`
	gen_require(`
		type BITCOINADULT_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, BITCOINADULT_var_lib_t, BITCOINADULT_var_lib_t)
')

########################################
## <summary>
##	Manage BITCOINADULT lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BITCOINADULT_manage_lib_files',`
	gen_require(`
		type BITCOINADULT_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, BITCOINADULT_var_lib_t, BITCOINADULT_var_lib_t)
')

########################################
## <summary>
##	Manage BITCOINADULT lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`BITCOINADULT_manage_lib_dirs',`
	gen_require(`
		type BITCOINADULT_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, BITCOINADULT_var_lib_t, BITCOINADULT_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a BITCOINADULT environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`BITCOINADULT_admin',`
	gen_require(`
		type BITCOINADULT_t;
		type BITCOINADULT_initrc_exec_t;
		type BITCOINADULT_var_lib_t;
	')

	allow $1 BITCOINADULT_t:process { ptrace signal_perms };
	ps_process_pattern($1, BITCOINADULT_t)

	BITCOINADULT_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 BITCOINADULT_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, BITCOINADULT_var_lib_t)

')

